<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fleetmanageringestorr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d37e7e65-015a-4008-8110-40e296193e63/resourceGroups/modelling_simulation_project/providers/Microsoft.Web/sites/FleetManagerIngestorr</ResourceId>
    <UserName>$FleetManagerIngestorr</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fleetmanageringestorr.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>